@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    color: rgb(140, 0, 140);
    
}

.forms {
    display: flex;
    justify-content: center;
    gap: 20px;
}

form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(140, 0, 140);
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="submit"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-bottom: 5px;
    display: inline-block;
}

input[type="submit"] {
    background-color: rgb(140, 0, 140);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #960096;
}
