@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Color Scheme */
:root {
    --primary-color: rgb(140, 0, 140);
    --subtle-color: #902404;
    --rare-color: #04905c;
}
/* Custom CSS */
body {
    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.car-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

.car-item {
    background: linear-gradient(to top, rgba(140, 0, 140, 0.2), white, rgba(140, 0, 140, 0.2));
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 90%; /* Adjust the maximum width as needed */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (top) */
}

.car-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h1 {
    color: rgb(140, 0, 140);
    text-align: center;
    margin-top: 20px;

}

button {
    background-color: rgb(140, 0, 140);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8c008c;
}

.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.back-to-home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.back-to-home-btn:hover {
    background-color: var(--subtle-color);
}

.Productimg {
    display: flex;
    margin: 20px auto;
    max-width: 660px;
    max-height: 500px;
    border-radius: 2px;
}