@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

th {
    width: 230px;
    border: none;
    border-radius: 10px;
}

tr {
    border-radius: 10px;
}

h2 {
    color: rgb(140, 0, 140);
    text-align: center;
    font-size: 40px;
}
.btn {
    background-color: rgb(140, 0, 140);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}