@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/rent.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);

}

.container {
    text-align: center;
    background: linear-gradient(to top, rgba(140, 0, 140, 0.6), rgba(0, 0, 0, 0.2), rgba(140, 0, 140, 0.6)); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 200px;
    backdrop-filter: blur(50px);
}

h1 {
    color: white;
    font-size: 40px;
}

p {
    color: white;
    font-size: 20px;
}

.rentbutton {
    padding: 10px 20px;
    background-color: #42b883;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rentbutton:hover {
    background-color: #36a270;
}

input[type="date"] {
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Productimg {
    display: flex;
    margin: 20px auto;
    max-width: 660px;
    max-height: 500px;
    border-radius: 2px;
}

input.price {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    font-size: 26px;
    border: none;
    outline: none;
}