@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

/* Navbar */
nav {
    background: linear-gradient(to bottom, rgba(140, 0, 140), rgba(140, 0, 140, 0.3));
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    padding: 5px;
    z-index: 2;
}

.navbar-li {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}

.navbar-a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

.navbar-a:hover {
    border-bottom: 3px solid white;
    border-radius: 5px;
}

.logo_navbar {
    width: auto;  
    height: 100px; 
}
.menu ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}
.ingelogd{
    list-style-type: none;
    color: white;
    margin-right: 50px;
    cursor: pointer;
}

.boxlog{
    position: relative;
}

.uitloggen {
    display: none;
    position: absolute;
    top: 71px; 
    right: 25px;
    background-color: white;
}
.formuit{
    background-color: purple;
}

.uit{
    width: 100px;
    border: none;
    cursor: pointer;
    background-color: purple;
    color: white;
}
.uitloggen::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent black transparent;
}

.drop .uitloggen{
    display: block;
}

.ingelogd:hover .uitloggen{
    display: block;
}

.ingelogd i {
    font-size: 28px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1;
    padding: 5px 0;
    margin-top: 5px;
    right: 0;
}

.dropdown-item li {
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    list-style-type: none;
}

.dropdown-item a {
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    list-style-type: none;
}

/* Show the dropdown when the user clicks on the profile picture */
.ingelogd:hover .dropdown {
    display: block;
    margin-top: -3px;
    text-decoration: none;
    list-style-type: none;
}

/* Hamburger menu */
.menu ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger-menu {
    display: none;    
    cursor: pointer;
    position: relative;
    right: 10px;
    z-index: 10;
}

@media screen and (max-width: 1068px) {
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu ul {
        display: block;
        position: fixed;
        top: -100%; /* Initially hide the menu above the viewport */
        left: 0;
        width: 100%;
        gap: 0;
        flex-direction: column;
        background: linear-gradient(to top, rgba(140, 0, 140), rgba(140, 0, 140, 0.3));
        text-align: center;
        transition: top 0.3s; /* Transition the top position for smooth appearance */
        z-index: 1; /* Ensure the menu is behind the navbar */
    }
    
    nav {
        position: relative; /* Ensure the navbar has a positioning context */
        z-index: 2; /* Place the navbar above the menu */
    }
    
    .menu ul.active {
        top: 0; /* When active, bring the menu down to the top of the screen */
    }
    
    .menu li {
        margin: 16px 0;
    }

}
/* products */

.Productdiv {
    position: relative;
    border: 1px solid black;
    background: linear-gradient(to left, rgba(140, 0, 140, 0.2), white, rgba(140, 0, 140, 0.2));
    margin: 10px;
    width: 320px;
    padding: 10px;
    transition: all 1s;
    display: inline-block;
}

.Productdiv:hover .buy {
    opacity: 1;
}

.Productdiv .buy {
    transition: opacity 1s ease;
}

.Productdiv:hover {
    opacity: 1;
}

.Productimg {
    display: flex;
    margin: 20px auto;
    max-width: 260px;
    max-height: 200px;
    aspect-ratio: 16 / 9;
}

.rent {
    border-radius: 20px;
    border: none;
    background-color: rgba(140, 0, 140, 1);
    color: white;
    font-weight: 1000;
    height: 30px;
    width: 40%;
    position: absolute;
    bottom: 20%;
    right: 5%;
    cursor: pointer;
    opacity: 0.5;
}

.item {
    font-size: 20px;
    margin: 5px;
    font-weight: 1000;
}

.prijs {
    background-color: white;
    color: black;
    border-radius: 10px;    
    font-size: 20px;
    text-align: center;
    margin: 5px;
    font-weight: 1000;
}

.search-container input[type="text"] {
    background-color: #fff;
    color: rgb(140, 0, 140); 
    font-weight: 800;
}


.search-container button {
    background-color: #04905c;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin: 5px;
    padding: 10px;

}
/* Optional: Add some padding and border-radius */
.search-container input[type="text"],
.search-container button {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

/* Style the button on hover */
.search-container button:hover {
    opacity: 0.8;
    /* Add any hover effects */
}

.services-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.services-section h1 {
    color: rgb(140, 0, 140);
    margin-bottom: 30px;
}

.service-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.service-item h2 {
    color: rgb(140, 0, 140);
    margin-bottom: 10px;
}

.service-item p {
    color: #555;
}

.location-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.location-section h1 {
    color: rgb(140, 0, 140);
    margin-bottom: 30px;
}

.location-info,
.opening-times {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.location-info h2,
.opening-times h2 {
    color: rgb(140, 0, 140);
    margin-bottom: 10px;
}

.location-info p {
    color: #555;
}

.opening-times table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.opening-times th,
.opening-times td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.opening-times th {
    background-color: #f2f2f2;
}

.contact-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.contact-section h1 {
    color: rgb(140, 0, 140);
    margin-bottom: 30px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: rgb(140, 0, 140);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: rgb(140, 0, 140);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: linear-gradient(to top, rgba(140, 0, 140), rgba(140, 0, 140, 0.3));
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img {
    width: 200px; 
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-links li {
    margin-right: 75px;

}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-social a {
    color: #fff;
    margin-right: 10px;
    font-size: 30px;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
}